.home {
  background-color:$black-grey;
  margin-left: 40px;
  width: 130vw;
  .home-textbox {
    position: absolute;
    bottom: 50px;
    padding-left: 30px;
  }
  #home {
    margin-top: 35vh;
    // margin-left: 10vh;
    text-align: left;
    display: flex;
    flex-direction: row;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  #home-header {
    font-size: 20vh;
    
  }
  #home-subheader {
    font-size: 3vh;
  }
}


