.home {
  background-color:cadetblue;
  margin-left: 40px;
}


// .home-wrapper {
//   display: flex;
//   flex-direction: row;
//   transform: rotate(90deg) translateY(-100vh);
//   transform-origin: top left;
// }

// .home {
//   // width: 120vw;
//   // height: 100vh;
//   display: flex;
//   flex-direction: row;
//   transform: rotate(90deg) translateY(-100vh);
//   transform-origin: top left;
// }

#home {
  margin-top: 35vh;
  margin-left: 10vh;
  text-align: left;
  display: flex;
  flex-direction: row;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

#home-header {
  font-size: 20vh;
  
}

#home-subheader {
  font-size: 3vh;
}