.portfolio {
  width: 200vw;
  height: 100vh;
  background-color: $black-grey;
  // border: 1px dashed #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  h1#portfolio-header {
    font-size: 20px;
    display: flex;
  }
}

.container {
    /* Graph paper gridlines */
    background:
    linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
    linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
    linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
    linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(-90deg, #aaa 1px, transparent 1px),
    linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
    linear-gradient(#aaa 1px, transparent 1px),
  #f2f2f2;
  background-size:
    4px 4px,
    4px 4px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px,
    80px 80px;
  margin: 10vh;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 35vw;
    height: 45vh;
    margin-top: 7vh;
    border: 1px dashed #fff;
    text-align: center;
    padding: 30px;
  }
  .p-text {
    width: 70%;
    height: 25vh;
    margin-bottom: 10vh;
    border: 1px dashed #fff;
    text-align: center;
    background-color: rgb(29, 29, 29, 0.6);
    padding: 23px;

    p {
      font-size: small;
      font-family: $body-font;
      margin-top: 30px;
  
    }
  }
}


.one {
  margin-top: 10vh;
  width: 60vw;
  height: 80vh;

}

.two {
  margin-top: 10vh;
  width: 60vw;
  height: 80vh;


}

.three {
  margin-top: 10vh;
  width: 60vw;
  height: 80vh;

}

.four {
  margin-top: 10vh;
  width: 60vw;
  height: 80vh;
  margin-right: 10vh;
}