body {
  margin: 0;
  padding: 0;
  color: white;
  background-color: black;
  font-family: $header-font;
}

.scroll {
  position: fixed;
  bottom: 150px; 
  left: 20px;
  transform: rotate(90deg);
}

//
