//Fonts: 
$header-font: 'Bungee Shade', cursive;
$body-font: 'Roboto', sans-serif;

/* 
font-family: 'Bungee Shade', cursive;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Faster One', cursive;
font-family: 'Roboto', sans-serif;

*/

// /* <style>
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Zilla+Slab+Highlight&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Zilla+Slab+Highlight&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Roboto:wght@300&family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Roboto:wght@300;400&family=Zilla+Slab+Highlight&display=swap');
// </style> */




//Breakpoints: 
/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 767px) {

}

/* Medium screen devices (768px to 1023px) */
@media only screen and (min-width: 768px) and (max-width: 1023px){

}

/* Extra big screen devices (1024px and above) */
/* Design for desktop displays from 1024×768 through 1920×1080 */
@media only screen and (min-width: 1024px) {

}


/* Common desktop screen sizes 2022:
1920×1080
1366×768
1536×864
1280×720
1440×900
1600×900 
*/