
//Colours: 
$green: #6ef087;
$blue: #30acdd;
$yellow: #dfe06a;
$orange: #ea8946;
$red: #dd5543;
$pink: #fbb4b7;
$purple: #7d7def;
$black: #0e0f0e;
$black-grey: #1D1D1D;


//Fonts: 
$header-font: 'Bungee Shade', cursive;
$body-font: 'KonstantGrotesk', sans-serif;

@font-face {
  font-family: 'KonstantGrotesk';
  src: url('./fonts/KonstantGrotesk.otf');
  src: 
    local('Konstant Grotesk'),
    local('Konstant-Grotesk'),
    url('./fonts/KonstantGrotesk.otf');
}





/* 
font-family: 'Bungee Shade', cursive;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Faster One', cursive;
font-family: 'Roboto', sans-serif;

*/

// /* <style>
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Zilla+Slab+Highlight&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Zilla+Slab+Highlight&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Roboto:wght@300&family=Zilla+Slab+Highlight&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Roboto:wght@300;400&family=Zilla+Slab+Highlight&display=swap');
// </style> */


