.site-wrapper{
  display: flex;
  // flex-direction: row;
}

.slide {
  // width: 100vw;
  height: 100vh;
  // display: flex;
  // flex-direction: row;
  // transform: rotate(90deg) translateY(-100vh);
  // transform-origin: top left;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 600vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.outer-wrapper{
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}



